html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #2e2e2e;
  color: #fff;
}

.custom-bg-color {
  background-color: #191919;
  color: white;
}

.custom-text-color {
  color: #258cfb;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
  width: 100%; /* Ensure the entire width is occupied */
}

.login p,
.login a {
  margin-right: 10px;
}

.loggedInAs {
  margin-top: 5px;
}

h2 {
  text-align: center;
  color: #ffffff;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #555555;
  color: #ffffff;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}