@model VipCars.Domain.Commands.LoginCommand

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>
        alert('@ViewBag.ErrorMessage');
    </script>
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <h2>Login</h2>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>
        
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
    </div>
        
    <div>
        <input type="submit" value="Login" />
    </div>
}
</body>
</html>